:local(.styles) {

}

#portfolioPage {
    padding:5vw;
}

.portfolioHeader {
    font-size: 4rem;
    padding-bottom:10vh;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

.porfolioFavIcon {
    font-size: 0.8em !important;
     color: red;
}

.portfolioLink {
    text-decoration: none;
     color: black;
}

.portfolioTile {
        font-family: 'Oswald', sans-serif !important;
        padding:2rem;
}