.loaderContainer {
    height: 75%;
    width: 100%;
    position: relative;
}

.loaderImg {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.fitnessLoaderImg {
text-align:center;
}