.banner {
    z-index:0;
    top:0;
    width:100%;
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left:5vw;
        padding-right:5vw;
        padding-top:2vw;
        padding-bottom:2vw;
        margin-top:2.5vw;
}

.fitnessCaption p {
  font-family: 'Oswald', sans-serif;
  font-size:calc(2.5rem + 1vw);
  color:white;
}

.fitnessSubheading {
  font-family: 'Oswald', sans-serif;
  font-size:calc(0.5rem + 1vw);
  color:white;
  padding:1vw;
}

.fitnessButton {
    background:transparent !important;
    color:white;
}

.fitnessButton svg {
    color:white;
    font-size:2rem;
}

.fitnessButton span {
    color:white;
    padding:0.2rem;
}

#fitnessMetric div {
  font-size:calc(3rem + 4vw);
  text-align:center;
  color:white;
  padding-top:4vw;
}

#fitnessMetric div p {
  font-size:calc(1rem + 2vw);
  text-align:center;
  color:white;
  text-transform:uppercase;
  font-weight:300;
  font-family: 'Oswald', sans-serif;
}

.metricChooserBtn {
    margin:0.2vw !important;
}

.activeMetric {
    color:white !important;
    border: 1px solid white !important;
    padding:1rem !important;
}

.activeActivity {
    border-bottom:3px solid white !important;
}