:local(.styles) {

}

.navLink {
    text-decoration: none;
    color: black;
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
}

.menuIconOverride {
    font-size: 0.7em;
    text-transform:uppercase;
}

.appBarOverride {
    box-shadow: none !important;
    background:white;
    margin-top:3vh;
    z-index:1;
}

.grow {
       flex-grow: 1,
}

.searchIcon {
    color:black;
    margin-right:3vw;
}