@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.logoText {
    float: left;
    padding-top: 1.25rem; 
    padding-left:0.75rem;
    font-family: 'Titillium Web', sans-serif;
    color:gray;
    text-transform: uppercase;
}

.homeIcon {
    float:left;
    padding:1rem;
    padding-left:0.25rem;
    padding-right:0.25rem;
    font-weight:200;
}