:local(.styles) {

}

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Roboto+Slab');


.customTileTitle {
    color: black;
    z-index: 100;
    top: 3%;
    left:3%;
    position: absolute;
    font-size: calc(1.3em + 1vw);
    padding: 1rem;
    text-align:center;
}

.customTileTitle span {
    background: #ffffffb8;
    line-height: calc(1em + 1vw);
    font-family: 'Roboto', sans-serif;
}

.personalHeader {
    font-size: 4rem;
    padding-bottom:10vw;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}