:local(.styles) {

}

.tagline b:nth-child(1) {
      background:#ffe000;
    padding:0.2rem;
    font-size:1.2em;
}

.tagline b:nth-child(2) {
     background:#61dafb;
    padding:0.2rem;
    font-size:1.2em;
}

.tagline u {
    background:#3dfb92;
    padding:0.2rem;
    padding-right:0.4rem;
    font-size:1.2em;
     text-decoration: none;
     font-weight:bold;
}

.tagline {
    font-weight:400 !important;
    font-family: 'Oswald', sans-serif !important;
    font-style:italic;
}

.tagline span {
    background:#eee;
    line-height:1.6;
}

.icon {
    font-size:1.8em !important;
}

.welcomeText {
    min-width:300px;
    padding-left:5%;
    padding-right:5%;
    height:100%;
    box-sizing: border-box;
}

.myPic {
    /* width: 92%; */
    background-size: cover;
    /* display: block; */
    min-width: 200px;
    background-image:url('../../assets/images/av.png');
    margin: 1rem;
    /* padding-bottom: 10vh; */
    position: absolute;
    top: 14%;
    height: auto;
    z-index: 0;
}

.widget {
    padding:1rem;
    display:block;
}

.widgetContainer {
   padding:0.5rem;
}

h3 {
     font-size: calc(1.3em + 1vw);
    right: 0;
    text-align: right;
    width: 100%;
    font-weight:300;
}

h3 span {
    background: hsla(0,0%,100%,.74118);
    padding:0.2rem;
    line-height: 3.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    margin:0.5rem;
}
.widget h5 {
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    right: 0;
    text-align: right;
    width: 100%;
    font-weight:300;
}

.widget h5 span {
    background: black;
    padding:0.5rem;
    line-height:3rem
}

.widget h6 {
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    right: 0;
    text-align: right;
    width: 100%;
    font-weight:300;
}

.mostRecent {
    text-decoration: 'none';
    color: white;
}

/* Updated */

.homeWho {
    font-family: 'Oswald', sans-serif;
    font-size:3rem;
    margin-bottom:10%;
    margin-top:5%;
    text-align:center;
}

.left {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}