:local(.styles) {

}

// .postRow:hover>* {
//     box-sizing:content-box;
//     background:#e6e6e6;
//     text-align:left;
//     cursor:pointer;
// }

#technicalPage {
    padding:5vw;
}

.tableHeader {
    font-family: Oswald,sans-serif;
}
.technicalHeader {
    font-size: 4rem;
    padding-bottom:10vw;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

.technicalTablCell_Link {
 text-decoration: none;
  color: #a09d9d;
  padding:0;
  margin:0;
}

.postRow td {
       font-family: 'Montserrat', sans-serif;
       font-size: calc(1em + 1vw);
}