.pageBackground {
    padding: 1vw;
    background-repeat: no-repeat !important;
    min-height:20vw;
    background-size:cover !important;
    margin-top:20px;
}

.pageContent {
    margin: calc(1rem + 1vw);
    background:white;
}

.pageDate {
padding:1rem;
}

.pageTags {
padding-right:2rem;
font-size:2rem;
}

.pageDate h4 {
    font-size:1.5rem;
        font-family: 'Oswald', sans-serif;
}

.pageTitle {
    display:inline-block;
    padding:5vw;
    font-family: 'Oswald', sans-serif;
}

.pageTitle span {
    background:#ffffffde;
    padding:0.2rem;
    box-shadow: #cac2c2 5px 5px;
    text-transform:uppercase;
    font-size:calc(2.5rem + 2vw);
    line-height:15vh;
    top:30vh;
    width:80vw;
}

.pageBodyText {
    display:inline-block;
    margin: calc(1rem + 1vw);
    word-spacing:2px;
    padding-top:2vw;
       font-family: 'Montserrat', sans-serif;
}

.pageBodyText p {
           font-family: 'Montserrat', sans-serif;
            font-size: calc(0.8em + 1vw);
}

.pageBodyText h2 {
     font-size: calc(2em + 1vw);
}