.postBackground {
 background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  height:100% !important;
}

.wp-block-code {
    overflow-x: scroll;
    background: #000000;
    padding: 1rem;
    display: inline-block;
    color: white;
    max-width: 100%;
}

figure {
    margin:0 !important;
}
.postImg>figure>img {
object-fit:contain !important;
max-width:100% !important;
max-height:100% !important
}

#postBody {
    margin:5vw;
}

.postDate {
padding:2rem;
}

.postTags {
padding:2rem;
font-size:2rem;
}

.postDate h4 {
font-size:1.5rem;
font-family: 'Oswald', sans-serif;
}

.postTitle {
    display:inline-block;
    padding:5vw;
    font-family: 'Oswald', sans-serif;
}

.postTitle span {
    background:#ffffffde;
    padding:0.2rem;
    box-shadow: #cac2c2 5px 5px;
    text-transform:uppercase;
    font-size:calc(2.5rem + 2vw);
    line-height:15vh;
    top:30vh;
}

.postBodyText {
    background:white;
    padding:2vw;
}

.postBodyText p {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.8em + 1vw);
    font-weight:300;
}

.postBodyText ul {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.8em + 1vw);
    font-weight:300;
}

.postBodyText h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(3em + 1vw);
    font-weight:300;
    padding:2vw;
}

