@import './styles/third-party/normalize';
@import '../../configs/config-styles';
@import './styles/typography';
@import './styles/links';

:global(body) {
#root {
    height:100%;
    width:100%;
    position:absolute;
    box-sizing: border-box;
    background:#f7f7f7;
}
}
